token = "INSERT TOKEN HERE"
client_id = <INSERT_CLIENT_ID_HERE (in int)>
log_channel_id = <INSERT_LOG_CHANNEL_HERE (in int)>
main_server_id = <INSERT_MAIN_CHANNEL_ID_HERE (in int)>

game = "PLAYING_GAME_HERE"
prefix = ["."]
description = """
Je suis TuxBot, le bot qui vit de l'OpenSource ! ;)
"""

mysql = {
	"host": "localhost",
	"username": "msqlusername",
	"password": "msqlpasswd",
	"dbname": "mysqldb"
}

authorized_id = ['admin ids here']
unkickable_id = ['unkickable ids here']
